[submodule "core/fba_lite"]
	url  = https://gitee.com/yizhigai/fba_lite_libretro
	path = core/fba_lite

[submodule "cores/gpsp"]
	url  = https://gitee.com/yizhigai/gpsp
	path = cores/gpsp

[submodule "cores/fba_lite"]
	url  = https://gitee.com/yizhigai/fba_lite_libretro
	path = cores/fba_lite

